Asignaturas/Lenguaje de marcas/Trimestre 3/Recuperación/Ejercicio8.dtd

<!ENTITY % parametros
  "nucleosNormales NMTOKEN #REQUIRED
  nucleosArtificial NMTOKEN #IMPLIED">

<!ELEMENT ordenadores ( hardware | software)*>
<!ELEMENT hardware (tGrafica+, procesador)>
<!ELEMENT tGrafica (#PCDATA | nvidia)*>
<!ELEMENT procesador EMPTY>
<!ELEMENT nvidia EMPTY>
<!ATTLIST nvidia %parametros; >
<!ELEMENT software EMPTY>