Asignaturas/Lenguaje de marcas/Trimestre 3/Recuperación/Ejercicio7.dtd

<!ELEMENT biblioteca (diccionario+, libro+)>

<!ENTITY % tipoMaterial "papel | papelReciclado" > 

<!ENTITY % parametrosBiblioteca 
    "paginas NMTOKEN #REQUIRED
      material (%tipoMaterial;) #IMPLIED">
    

<!ELEMENT diccionario EMPTY >
<!ELEMENT libro EMPTY >
<!ATTLIST biblioteca %parametrosBiblioteca; >
<!ATTLIST diccionario material (%tipoMaterial;) #REQUIRED > 