Asignaturas/Lenguaje de marcas/Trimestre 2/Unidad 3/Tarea 5/archivo5B.dtd

<!ELEMENT reservas (reserva*)>
<!ELEMENT reserva (data, informacionEvento>

<!ELEMENT data (#PCDATA)>
<!ELEMENT informacionEvento (#PCDATA)>

<!ATTLIST reservas ano CDATA #REQUIRED>
<!ATTLIST reserva local  (polideportivo | local) #IMPLIED>
<!ATTLIST reserva bonificacion CDATA #IMPLIED>

<!ATTLIST data dia CDATA #REQUIRED>
<!ATTLIST data mes CDATA #REQUIRED>
<!ATTLIST data horario (mañana | tarde | noche) 'tarde'>